.navbar {
    height: 3rem;
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;

}

.navbar p {
    margin: 0px;
    font-size: 20px;
}

.firstPart {
    color: red;
    font-weight: bold;
}

.middlePart {
    position: relative;
    right: 6px;
}

.lastPart {
    position: relative;
    right: 12px;
    color: red;
    font-weight: bold;
}

.main {
    width: 98%;
    margin: 10px auto 5px auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}


.card p {
    margin: 5px 2px 5px 5px;
    font-size: 15px;
}

@media screen and (max-width: 810px) {
    .main {
        height: unset;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .main {
        height: unset;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .main {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.footer {
    height: 2.5rem;
    background-color: rgb(28, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer p {
    margin: 5px 10px;
    font-size: 15px;
    position: relative;
    /* top: 6px; */
}

@media screen and (max-width: 500px) {
    .footer p {
        font-size: 12px;
    }
}
