.navbar {
    height: 3rem;
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;

}

.navbar p {
    margin: 0px;
    font-size: 20px;
}

.firstPart {
    color: red;
    font-weight: bold;
}

.middlePart {
    position: relative;
    right: 6px;
}

.lastPart {
    position: relative;
    right: 12px;
    color: red;
    font-weight: bold;
}

.main {
    width: 98%;
    min-height: 80vh;
    margin: 10px auto;
    border-color: 2px solid red;
}

.leftRightArea {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 65vw 1fr;
    grid-template-rows: 1fr;
}


.rightDiv {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;

}

.card p {
    margin: 5px 2px 5px 5px;
    font-size: 15px;
}

.btnCss {
    display: grid;
    grid-row: 2/3;
    height: 40px;
}

.directAds {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;

}

.footer {
    height: 2.5rem;
    background-color: rgb(28, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer p {
    margin: 5px 10px;
    font-size: 15px;
    position: relative;
}

@media screen and (max-width: 500px) {
    .footer p {
        font-size: 12px;
    }
}


@media screen and (max-width: 740px) {
    .leftRightArea {
        height: 65vh;
    }

    .rightDiv {
        height: 65vh;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .leftRightArea {
        height: 52vh;
        width: 99.6%;
    }

    .cardCss {
        grid-column: 1/3;
    }

    .disNone {
        display: none;
    }
}
